In [2]:
import pandas as pd
import json

In [3]:
df = pd.read_csv('train.csv')
df.head()

,_id,datetime,day,destinationPlace_label,destinationPlace_lon,destinationPlace_lat,destinationPlace_name,sourcePlace_label,sourcePlace_lon,sourcePlace_lat,sourcePlace_name,time,tz,userId
0,5534cc8e3004b4858e545552,2015-02-01 07:49:00+02:00,6,NaN,34.814528,32.165983,Neura Labs,NaN,34.815325,32.190265,Home,469,Asia/Jerusalem,35
1,5534cc8e3004b4858e545553,2015-02-01 15:04:00+02:00,6,NaN,34.814528,32.165983,Neura Labs,NaN,34.814528,32.165983,Neura Labs,904,Asia/Jerusalem,35
2,5534cc8e3004b4858e545554,2015-02-01 21:52:00+02:00,6,NaN,34.815224,32.190367,Home,NaN,34.814528,32.165983,Neura Labs,1312,Asia/Jerusalem,35
3,5534cc903004b4858e545555,2015-02-02 01:37:00+02:00,0,NaN,34.815325,32.190265,Home,NaN,34.815224,32.190367,Home,97,Asia/Jerusalem,35
4,5534cc903004b4858e545556,2015-02-02 08:44:00+02:00,0,NaN,34.814528,32.165983,Neura Labs,NaN,34.815325,32.190265,Home,524,Asia/Jerusalem,35

http://blog.ibmjstart.net/2016/01/28/jupyter-notebooks-as-restful-microservices/

In [4]:
# GET /labels
s_labels = df.sourcePlace_label.unique()
d_labels = df.destinationPlace_label.unique()
print(json.dumps(dict(
            labels=[str(x) for x in set(s_labels.tolist() + d_labels.tolist())]
)))

{"labels": ["nan", "active_zone", "home", "work"]}

In [6]:
REQUEST = "{\"args\": {}, \"path\": {\"name\": \"yoav\"}, \"headers\": {\"Connection\": \"keep-alive\", \"Host\": \"127.0.0.1:8889\", \"Accept-Encoding\": \"gzip, deflate\", \"Accept\": \"*/*\", \"User-Agent\": \"python-requests/2.10.0\"}, \"body\": \"\"}"

In [7]:
# GET /bla/:name
request = json.loads(REQUEST)
print(json.dumps(dict(name=request['path'].get('name', 'noname'))))

{"name": "yoav"}